<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDLe11MXrwpO0QbMBot6xIdi_j0wEdMrwo</string>
	<key>GCM_SENDER_ID</key>
	<string>924709216311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nomikPlanflag.NomikTwStockApp</string>
	<key>PROJECT_ID</key>
	<string>nomiktwstockapp</string>
	<key>STORAGE_BUCKET</key>
	<string>nomiktwstockapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924709216311:ios:2c8cdfa6b3ba4f8c34dfb2</string>
</dict>
</plist>